/*
* spa-shell-css
* shell style
* author sunly 
*/
.spa-shell-head,
.spa-shell-head-logo,
.spa-shell-head-login,
.spa-shell-main,
.spa-shell-main-nav,
.spa-shell-main-content,
.spa-shell-foot {
    position: absolute;
    box-sizing: border-box;
}

.spa-shell-head {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
}

.spa-shell-head-logo {
    top: 4px;
    left: 8px;
    height: 34px;
    width: 180px;
    font: 28px/32px bold "Arial";
    text-align: center;
    border-radius: 3px;
}
.spa-shell-head-logo h1  {
    font: 800 22px/22px Arial,Helvetica;
    margin: 0;
}
.spa-shell-head-logo p{
    font: 800 10px/10px Arial,Helvetica;
    margin: 0;
}
.spa-shell-head-login {
    top: 4px;
    right: 0;
    height: 32px;
    line-height: 32px;
    width: 210px;
    border-radius: 10px;
    background-color: #888;
    color: #fff;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spa-shell-main {
    top: 40px;
    bottom: 40px;
    left: 0px;
    right: 0px;
}

.spa-shell-main-nav,
.spa-shell-main-content {
    top: 0px;
    bottom: 0px;
}

.spa-shell-main-nav {
    width: 400px;
    background-color: #eee;
    z-index: 1;
}

.spa-shell-x-close,
.spa-shell-main-nav {
    width: 0px;
}

.spa-shell-main-content {
    left: 400px;
    right: 0px;
    background-color: #ddd;
}

.spa-shell-foot {
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 40px;
    background-color: #aaa;
}
