/*
* nameSpace : spa.login.css
* author: Sunly;
*/
.spa-login-page {
	position: absolute;
    height: 12em;
    width: 23em;
    top: 50%;
    right: 50%;
    margin-right: -10em;
    margin-top: -8em;
    border-radius: 0.3em;
    background-color: #aaa;
    border-width: 1em;
    border-style: ridge;
    z-index: 10;
}
.spa-login-title h4{
	font: 1.5em/2em Arial;
	text-align: center;
	width: 100%;
	height: 2em;
	padding: 0;
	cursor: pointer;
	margin: 0;
}
.spa-login-name{
	font: 1.2em/2em Arial;
	height: 2em;
	text-align: center;
}
.spa-login-name input[type="text"]{
	background-color: #eee;
	border: none;
	height: 1.5em;
}
.spa-login-name input[type="text"]:hover{
	background-color: #fff;
}
.spa-login-warning{
	margin: 0;
	font-size: 0.8em;
	font-weight: 400;
	text-align: center;
	color: red;
	height: 1em;
}
.spa-login-button{
	height: 2em;
	width: 100%;
	text-align: center;
	padding: 1em 0;
}
.spa-login-ok,.spa-login-cancel{
	height: 2em;
	width: 5em;
	margin: 0 1em;
	background-color: #888;
	color: #fff;
	cursor: pointer;
	border-style: none;
}
.spa-login-ok:hover,.spa-login-cancel:hover{
	background-color: #666;
	color: #1ff;
}